<section class="about">
	<div class="container-fluid about-cotainer">
		<div class="about-title">
			<div data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1000" class="title-anime">
				<a name="about"></a>
				<h3>Про нас</h3>
			</div>
		</div>
		<div class="about-fon"></div>
		<div class="about-content">
			<div class="about-content-quote">
				<p>"Оберіть собі роботу до душі і вам не доведеться працювати жодного дня"</p>
				<span>(Конфуцій)</span>
			</div>
			<div class="about-content-paragraf">
				<p>Привіт, мене звати Андрій, я засновник фірми "ДіВа меблі". Наша фірма - це сімейна справа, хобі яке
					переросло в справжній бізнес. Мені вдалося втілити у життя мудрий вислів Конфуція і знайти справу до
					душі, а сотні задоволених клієнтів дають мені впевненість у правильності мого вибору.
					Починаючи з 2019 року я почав працювати із закордонними дизайнерами і тепер мої меблі прикрашають
					вілли в Португалії.</p>
				<span>( фото в каталозі )</span>
			</div>
		</div>
		<div class="why-poster">
			<div class="container-fluid">
				<div class="why-poster-title">
					<div data-aos="fade-right" class="title-anime" data-aos-easing="linear" data-aos-duration="1000">
						<a name="materials"></a>
						<h3>Чому обирають нас</h3>
					</div>
				</div>

			</div>
		</div>
		<div class="container-fluid why-grid-content">
			<div class=" item-grid">
				<div class="item-title">
					<h6>Втілили більше 100 проектів за 3 роки</h6>
				</div>
				<div class="item-descr">
					<p>Фото в каталозі - це лише невелика частинка наших проектів. На справді, їх набагато більше, від
						невеличкої полички до дороговартісної кухні, все продумано і втілено в життя нашими майстрами.
					</p>
				</div>
			</div>
			<div class=" item-grid">
				<div class="tringle-left"></div>
				<img src="images/why-grid-1.webp" alt="grid-2">
			</div>

			<div class=" item-grid">
				<div class="item-title">
					<h6>Обираємо лише якісні матеріали</h6>
				</div>
				<div class="item-descr">
					<p>Найкращі матеріали та фурнітуру для довговічної роботи, функціональності та краси ваших меблів
						обираємо від компанії "ВіЯр", яка є одним з провідних підприємств з продажу комплектуючих для
						меблів.
					</p>
				</div>
			</div>
			<div class=" item-grid">
				<div class="tringle-left"></div>
				<img src="images/why-grid-2.webp" alt="grid-2">
			</div>
			<div class=" item-grid">
				<div class="tringle-right"></div>
				<img src="images/why-grid-3.webp" alt="grid-3">
			</div>

			<div class=" item-grid">
				<div class="item-title">
					<h6>Не боїмося викликів</h6>
				</div>
				<div class="item-descr">
					<p>Втілимо в життя ваші найсміливіші ідеї та запропонуємо вирішення нетипових задач з установки
						меблів.
					</p>
				</div>
			</div>
			<div class=" item-grid">
				<div class="tringle-right"></div>
				<img src="images/why-grid-4.webp" alt="grid-4">
			</div>
			<div class=" item-grid">
				<div class="item-title">
					<h6>Працюємо з турботою про вас</h6>
				</div>
				<div class="item-descr">
					<p>Працюємо оперативно, аккуратно та без зайвого галасу. Обов'язково прибираємо місце роботи, після
						збору меблів.
					</p>
				</div>
			</div>
		</div>
	</div>

</section>
