<section class="catalog">
	<div class="catalog-title">
		<div data-aos="zoom-in-down" class="title-anime">
			<a name="catalog"></a>
		<h3>Каталог</h3>
		</div>
	</div>
	<div class="catalog-text">
		<p>
			Всі фото в нашому каталозі - це реально розроблені і встановлені
			нами меблі.
		</p>
	</div>
	<div class="container-fluid catalog-content">
		<div class="catalog-content-item">
			<img src="images/catalog__cusine.webp" alt="catalog-cusine">
			<a href="" class="content-item-link">
			<h4>Кухні</h4>
			</a>
		</div>
		<div class="catalog-content-item">
			<img src="images/catalog__living-room.webp" alt="catalog-living-roow">
			<a href="" class="content-item-link">
			<h4>Вітальні</h4>
			</a>
		</div>
		<div class="catalog-content-item">
			<img src="images/catalog__wardrobes.webp" alt="atalog__wardrobes" >
				<a href="" class="content-item-link">
			<h4>Шафи-купе</h4>
			</a>
		</div>
		<div class="catalog-content-item">
			<img src="images/catalog__different-furniture.webp" alt="different-furniture" >
				<a href="" class="content-item-link">
			<h4>Різні меблі</h4>
			</a>
		</div>
	</div>
</section>
