<section class="container-fluid contacts">
	<div class="contacts-title">
		<div  data-aos="zoom-in-down" class="title-anime">
			<a name="contacts"></a>
			<h3>Контакти</h3>
		</div>
		<div class="contacts-content">
			<div class="contacts-content-avatar-inner">
				<div class="contacts-content-block">
					<ul class="content-title">
						<h6>Томилець Андрій</h6>
						<li><a href="+380660625332" class="content-phone">+38 066 062 53 32</a></li>
						<li><a href="mailto:diva.mebli@gmail.com" class="content-email">diva.mebli@gmail.com</a></li>
					</ul>
					<ul class="content-icons">
						<li class="icons">
							<a href="https://www.facebook.com/profile.php?id=100004615925561" class="faceboock"></a>
						</li>
						<li class="icons">
							<a href="https://www.instagram.com/andreitomilets/" class="instagram"></a>
						</li>
					</ul>
				</div>
				<div class="avatar-poster">
					<img src="images/master.webp" alt="master-poster">
				</div>
			</div>
			<div class="contacts-content-form-inner">
<div class="content-form-descr">
	<p>
		залишилися питання не можете визначитися з вибором екологічних матеріалів?
	</p>
</div>
<div class="content-form-title">
	<h6>
		напишіть нам із зручного для вас месенджера
	</h6>
</div>
<ul class="content-form-messenger-block">
<li class="block-item">
	<a href="#!" class="viber">
		<img src="images/viber.webp" alt="viber">
	</a>
</li>
<li class="block-item">
	<a href="#!" class="telegram">
		<img src="images/telegram.webp" alt="telegram">
	</a>
</li>
<li class="block-item">
	<a href="#!" class="messenger">
		<img src="images/messenger.webp" alt="messenger">
	</a>
</li>
</ul>
			</div>
		</div>

</section>
