<footer class="footer">
	<div class="container-fluid">
		<div class="footer-content">
		<div class="footer-content-logo">
<div class="footer-logo-icons">
	<img src="images/footer-logo.webp" alt="footer-logo">
</div>
<div class="footer-social-icons">
<a href="https://www.facebook.com/profile.php?id=100004615925561" class="social-icons">
	<div class="faceboock"></div>
</a>
<a href="https://www.instagram.com/andreitomilets/" class="social-icons">
	<div class="instagram"></div>
</a>
</div>
<div class="social-icons-avtor">
	©19. 06. 2022 diva-mebli
</div>
		</div>
		<div class="footer-content-menu">
			<ul class="title-menu">МЕНЮ
				<li>
					<a href="#catalog" class="title-menu-item">Каталог</a>
				</li>
				<li>
					<a href="#materials" class="title-menu-item">Матеріали</a>
				</li>
				<li>
					<a href="#about" class="title-menu-item">Про нас</a>
				</li>
				<li>
					<a href="#contacts" class="title-menu-item">Контакти</a>
				</li>
			</ul>
		</div>
		<div class="footer-content-section">
			<ul class="title-menu">РОЗДІЛИ
				<li>
					<a href="" class="title-menu-item">Кухні</a>
				</li>
				<li>
					<a href="" class="title-menu-item">Вітальні</a>
				</li>
				<li>
					<a href="" class="title-menu-item">Шафи-купе</a>
				</li>
				<li>
					<a href="" class="title-menu-item">Різні меблі</a>
				</li>
			</ul>
		</div>
		</div>
	</div>
</footer>
