<header class="header container-fluid">
	<div class="header__first">
		<div class="first-text">Ми працюємо заради вашого комфорту!</div>
		<div class="first-logo">
			<div class="logo-title">DIVA</div>
			<div class="logo-text">меблі</div>
		</div>
		<div class="first_contacts">
			<a href="mailto:diva.mebli@gmail.com " class="first-contacts-email"
				title="хочете написати">diva.mebli@gmail.com</a>
			<a href="tel:380660625332" class="first-contacts-phone" title="хочете зателефонувати">тел: +38 066 062 53
				32</a>
		</div>
	</div>
	<div class="container-fluid head-container">
		<div class="fist-pc-menu-navigation">
			<li class="menu-pc-link">
				<a href="#catalog" class="menu-pc-navigation-link">Каталог</a>
			</li>
			<li class="menu-pc-link">
				<a href="#materials" class="menu-pc-navigation-link">Матеріали</a>
			</li>
			<li class="menu-pc-link">
				<a href="#about" class="menu-pc-navigation-link">Про нас</a>
			</li>
			<li class="menu-pc-link">
				<a href="#contacts" class="menu-pc-navigation-link">Контакти</a>
			</li>
		</div>

		<div class="first-mb-menu-navigation " id="order" >
			<div class="menu-icons">test</div>
		<div class="order-item" id="order_item">
			<li class="menu-mb-link">
				<a href="#catalog" class="menu-mb-navigation-link">Каталог</a>
			</li>
			<li class="menu-mb-link">
				<a href="#materials" class="menu-mb-navigation-link">Матеріали</a>
			</li>
			<li class="menu-mb-link">
				<a href="#about" class="menu-mb-navigation-link">Про нас</a>
			</li>
			<li class="menu-mb-link">
				<a href="#contacts" class="menu-mb-navigation-link">Контакти</a>
			</li>
			</div>
		</div>

	</div>

</header>
