<section class="order ">
<div class="container-fluid order-inner">
	<div class="order-form">
<div class="order-form__title">Меблі</div>
<div class="order-form__text">під замовлення</div>
<a href="tel:380660625332" title="зателефонувати" class="order-form__link">Замовити меблі</a>

	</div>
	<div class="order-paragraf">
		<p>Затишні меблі для вашого дому, функціональні кухні, стильні вітальні та зручні шафи.
Ми розробимо індивідуальний дизайн ваших меблів та врахуємо всі особливості вашого дому чи офісу.</p>
	</div>
</div>

</section>
