<section class="container-fluid works">
	<div class="container-fluid">
		<div class="why-poster-title">
			<div data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1000" class="title-anime">
				<h3>Як ми працюємо</h3>
			</div>
		</div>
	</div>

	<div class="works-content">
		<div data-aos="zoom-in-down"
		class="works-item">
			<div class="works-item-fon">
				<div class="iconA"></div>
			</div>
			<div class="works-item-title">
				<h6>Замовлення меблів</h6>
			</div>
			<div class="works-item-descr">
				<p>
					Оберіть зручний для вас варіант: зателефонуйте за номером
					<span>+380660625332</span>, напишіть на месенжер чи
					скористайтесь формою зворотнього зв'язку.
				</p>
			</div>
		</div>
		<div class="works-item"></div>
		<div class="works-item"></div>
		<div class="works-item"></div>
		<div data-aos="zoom-in-down"
		class="works-item">
			<div class="circle">
				<div class="circle-namber">1</div>
			</div>
		</div>
		<div data-aos="zoom-in-down"
		class="works-item">
			<div class="works-item-fon">
				<div class="iconB"></div>
			</div>
			<div class="works-item-title">
				<h6>Заміри</h6>
			</div>
			<div class="works-item-descr">
				<p>
					В домовлений час, майстер прийде на заміри, вислухає ваші
					побажання, проконсультує та допоможе обрати найкращий
					варіант.
				</p>
			</div>
		</div>
		<div data-aos="zoom-in-down"
		class="works-item">
			<div class="works-item-fon">
				<div class="iconC"></div>
			</div>
			<div class="works-item-title">
				<h6>Погодження проекту</h6>
			</div>
			<div class="works-item-descr">
				<p>
					Протягом 3 днів ви отримаєте попередню візуалізацію проекту
					на затвердження та внесення правок. Для вибору кольору та
					фактури- надамо каталоги та зразки матеріалів.
				</p>
			</div>
		</div>
		<div data-aos="zoom-in-down"
		class="works-item">
			<div class="circle">
				<div class="circle-namber">2</div>
			</div>
		</div>
		<div class="works-item"></div>
		<div class="works-item"></div>
		<div data-aos="zoom-in-down"
		class="works-item">
			<div class="circle">
				<div class="circle-namber">3</div>
			</div>
		</div>
		<div data-aos="zoom-in-down"
		class="works-item">
			<div class="works-item-fon">
				<div class="iconD"></div>
			</div>
			<div class="works-item-title">
				<h6>Оплата матеріалів</h6>
			</div>
			<div class="works-item-descr">
				<p>
					Після погодження проекту, ви отримуєте попередній розрахунок
					вартості та вносите передплату у розмірі 100% вартості
					матеріалів і ми починаємо роботу.
				</p>
			</div>
		</div>
		<div data-aos="zoom-in-down"
		class="works-item">
			<div class="works-item-fon">
				<div class="iconF"></div>
			</div>
			<div class="works-item-title">
				<h6>Встановлення меблів</h6>
			</div>
			<div class="works-item-descr">
				<p>
					По завершенню процесів розпиловки, поклейки кромки та
					часткового збору меблевих модулів, починаємо процес
					встановлення меблів у вас вдома. Якщо прект досить великий,
					його встановлення може зайняти декілька днів.
				</p>
			</div>
		</div>
		<div data-aos="zoom-in-down"
		class="works-item">
			<div class="circle">
				<div class="circle-namber">4</div>
			</div>
		</div>
		<div class="works-item"></div>
		<div class="works-item"></div>
		<div  data-aos="zoom-in-down"
		class="works-item">
			<div class="circle">
				<div class="circle-namber">5</div>
			</div>
		</div>
		<div data-aos="zoom-in-down"
		class="works-item">
			<div class="works-item-fon">
				<div class="iconG"></div>
			</div>
			<div class="works-item-title">
				<h6>Остаточний розрахунок</h6>
			</div>
			<div class="works-item-descr">
				<p>
					Ви вже насолоджуєтесь новими меблями, отже прийшов час
					розрахуватися з майстром. Остаточний розрахунок включає
					вартість роботи майстра, доставку матеріалів, додаткові
					витрати.
				</p>
			</div>
		</div>
		<div class="works-item">
			<div class="works-item-fon"></div>
		</div>
		<div  data-aos="zoom-in-down" class="works-item">
			<div class="circle">
				<div class="circle-namber">6</div>
			</div>
		</div>
	</div>
</section>
